@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,regular,500,700,900,&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 80rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
  min-height: 5rem;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.header__mail {
  color: #fff;
  font-weight: 400;
  padding: 0.25rem 0.5rem;
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 0.25rem;
  line-height: 1.5;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__button-link {
  white-space: nowrap;
  color: #000;
  font-weight: 700;
  line-height: 1.5;
  padding: 0.75rem 2rem;
  background-color: #FF7143;
  border-radius: 0.375rem;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  position: relative;
  z-index: 5;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.menu__link {
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  position: relative;
}

.menu__link::before {
  content: "";
  position: absolute;
  bottom: -0.1875rem;
  left: 0%;
  width: 0;
  height: 0.125rem;
  background-color: #fff;
  -webkit-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #000;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
}

.footer__link-button {
  text-align: center;
  font-weight: 700;
  background-color: #fff;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.375rem;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__link {
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}

.footer__social-link {
  border: 1px solid rgba(0, 0, 0, 0.16);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1.0625rem;
  min-width: 0.875rem;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.footer__social-link img {
  width: 0.875rem;
  height: 0.875rem;
}

.main {
  padding-top: 5rem;
  background-color: #FF7143;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
}

.main__title {
  text-align: center;
  font-weight: 700;
  line-height: 1;
  opacity: 0;
}

.main__title:not(:last-child) {
  margin-bottom: 1.6875rem;
}

._watcher-view .main__title {
  opacity: 1;
  -webkit-transition: opacity 1s ease 0s;
  transition: opacity 1s ease 0s;
}

.main__text {
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.5;
  max-width: 36.875rem;
  opacity: 0;
}

._watcher-view .main__text {
  opacity: 1;
  -webkit-transition: opacity 1s ease 0.3s;
  transition: opacity 1s ease 0.3s;
}

.main__links {
  padding-top: 1.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
  opacity: 0;
}

._watcher-view .main__links {
  opacity: 1;
  -webkit-transition: opacity 1s ease 0.6s;
  transition: opacity 1s ease 0.6s;
}

.main__link {
  text-align: center;
  border-radius: 0.375rem;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3333333333;
  padding: 1.25rem 2rem;
  background-color: #000;
  color: #fff;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.main__link_light {
  background-color: #fff;
  color: #000;
}

.main__link:first-child {
  -webkit-transform: translateX(-10%);
      -ms-transform: translateX(-10%);
          transform: translateX(-10%);
}

._watcher-view .main__link:first-child {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: -webkit-transform 1s ease 0.8s;
  transition: -webkit-transform 1s ease 0.8s;
  transition: transform 1s ease 0.8s;
  transition: transform 1s ease 0.8s, -webkit-transform 1s ease 0.8s;
}

.main__link:last-child {
  -webkit-transform: translateX(10%);
      -ms-transform: translateX(10%);
          transform: translateX(10%);
}

._watcher-view .main__link:last-child {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: -webkit-transform 1s ease 0.8s;
  transition: -webkit-transform 1s ease 0.8s;
  transition: transform 1s ease 0.8s;
  transition: transform 1s ease 0.8s, -webkit-transform 1s ease 0.8s;
}

.main__image {
  overflow: hidden;
}

.main__image img {
  max-width: 100%;
  -webkit-transform: translateY(10%);
      -ms-transform: translateY(10%);
          transform: translateY(10%);
}

._watcher-view .main__image img {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.speed__items {
  display: -ms-grid;
  display: grid;
  gap: 0.9375rem;
  grid-template-columns: repeat(auto-fit, minmax(18.125rem, 1fr));
}

.speed__item {
  opacity: 0;
}

._watcher-view .speed__item {
  opacity: 1;
  -webkit-transition: opacity 1s ease 0s;
  transition: opacity 1s ease 0s;
  -webkit-transition-delay: var(--anim);
          transition-delay: var(--anim);
}

.item-speed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

.item-speed__image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #FDE7DA;
  padding: 1.625rem;
}

.item-speed__image img {
  width: 3rem;
  height: 3rem;
}

.item-speed__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
  min-width: 12.5rem;
}

.item-speed__title {
  font-weight: 700;
  line-height: 1.3333333333;
}

.item-speed__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}

.druk {
  background-color: #000;
}

.druk__inner {
  margin: 0 auto;
  max-width: 36.25rem;
}

.druk__slide {
  z-index: 3;
}

.druk__bullets {
  padding-top: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.375rem;
}

.druk__bullets .swiper-pagination-bullet {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.druk__bullets .swiper-pagination-bullet-active {
  cursor: default;
  background-color: #fff;
}

.slide-druk__item {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 36.25rem;
}

.slide-druk__text {
  text-align: center;
  color: #fff;
  font-weight: 400;
  line-height: 1.2;
}

.slide-druk__name {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #fff;
}

.slide-druk__post {
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.7);
}

.landing__title {
  font-weight: 700;
  line-height: 1.2;
  color: #000;
}

.landing__title:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.landing__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 0.9375rem;
}

.item-landing__image {
  background-color: #000;
  padding: 2.5rem 2.5rem 0rem 2.5rem;
}

.item-landing__image img {
  max-width: 100%;
}

.item-landing__content {
  padding: 1.5rem 2rem;
  border-radius: 0.375rem;
  border: 0.0625rem solid rgba(0, 0, 0, 0.16);
  border-top: none;
}

.item-landing__title {
  display: inline-block;
  font-weight: 700;
  color: #000;
  line-height: 1.4;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 81.875em) {
  .header__left {
    gap: 4.0625rem;
  }

  .header__right {
    gap: 4.0625rem;
  }

  .footer {
    padding-top: 4.0625rem;
  }

  .footer {
    padding-bottom: 4.0625rem;
  }

  .footer__bottom {
    padding-top: 4.0625rem;
  }

  .main__title {
    font-size: 4.5rem;
  }

  .speed {
    padding-top: 5rem;
  }

  .speed {
    padding-bottom: 5rem;
  }

  .item-speed__title {
    font-size: 1.5rem;
  }

  .druk {
    padding-top: 6.25rem;
  }

  .druk {
    padding-bottom: 6.25rem;
  }

  .slide-druk__image:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .slide-druk__text {
    font-size: 2.5rem;
  }

  .slide-druk__text:not(:last-child) {
    margin-bottom: 2.5625rem;
  }

  .landing {
    padding-top: 6.25rem;
  }

  .landing {
    padding-bottom: 6.25rem;
  }

  .landing__title {
    font-size: 2.5rem;
  }

  .item-landing__title {
    font-size: 1.25rem;
  }
}

@media (max-width: 20em) {
  .header__left {
    gap: 1.25rem;
  }

  .header__right {
    gap: 1.25rem;
  }

  .footer {
    padding-top: 1.875rem;
  }

  .footer {
    padding-bottom: 1.875rem;
  }

  .footer__bottom {
    padding-top: 1.875rem;
  }

  .main__title {
    font-size: 2.25rem;
  }

  .speed {
    padding-top: 2.5rem;
  }

  .speed {
    padding-bottom: 2.5rem;
  }

  .item-speed__title {
    font-size: 1.125rem;
  }

  .druk {
    padding-top: 3.75rem;
  }

  .druk {
    padding-bottom: 3.75rem;
  }

  .slide-druk__image:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .slide-druk__text {
    font-size: 1.125rem;
  }

  .slide-druk__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .landing {
    padding-top: 3.75rem;
  }

  .landing {
    padding-bottom: 3.75rem;
  }

  .landing__title {
    font-size: 1.5rem;
  }

  .item-landing__title {
    font-size: 1rem;
  }
}

@media (max-width: 61.99875em) {
  .header__right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    top: 0;
    right: -100%;
    overflow: auto;
    background-color: #000;
    padding: 6.25rem 0.9375rem 3.125rem 0.9375rem;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 4;
  }

  .menu-open .menu__body {
    right: 0;
  }

  ._header-scroll .menu__body {
    background-color: rgb(0, 0, 0);
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 61.99875em) and (max-width: 20em) {
  .menu__link {
    font-size: 1.5rem;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .main {
    padding-top: 6.25rem;
  }
}

@media (max-width: 47.99875em) {
  .main__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main__links {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 3rem;
  }

  .main__link {
    padding: 0.9375rem 1.625rem;
  }

  .main__image {
    display: none;
  }

  .landing__items {
    grid-template-columns: repeat(auto-fit, minmax(18.125rem, 1fr));
  }
}

@media (max-width: 29.99875em) {
  .header__container {
    min-height: 3.125rem;
  }

  .header__logo {
    width: 1.5625rem;
    overflow: hidden;
  }

  .header__button-link {
    padding: 0.375rem 0.75rem;
  }

  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.875rem;
  }

  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .main__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .item-speed {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .item-speed__image {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .item-speed__content {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .item-speed__title {
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .item-speed__text {
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (min-width: 20em) and (max-width: 81.875em) {
@supports (gap: clamp( 1.25rem , 0.3409090909rem  +  4.5454545455vw , 4.0625rem )) {
    .header__left {
      gap: clamp( 1.25rem , 0.3409090909rem  +  4.5454545455vw , 4.0625rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.3409090909rem  +  4.5454545455vw , 4.0625rem )) {
    .header__left {
      gap: calc(1.25rem + 2.8125 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 1.25rem , 0.3409090909rem  +  4.5454545455vw , 4.0625rem )) {
    .header__right {
      gap: clamp( 1.25rem , 0.3409090909rem  +  4.5454545455vw , 4.0625rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.3409090909rem  +  4.5454545455vw , 4.0625rem )) {
    .header__right {
      gap: calc(1.25rem + 2.8125 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.1679292929rem  +  3.5353535354vw , 4.0625rem )) {
    .footer {
      padding-top: clamp( 1.875rem , 1.1679292929rem  +  3.5353535354vw , 4.0625rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.1679292929rem  +  3.5353535354vw , 4.0625rem )) {
    .footer {
      padding-top: calc(1.875rem + 2.1875 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.1679292929rem  +  3.5353535354vw , 4.0625rem )) {
    .footer {
      padding-bottom: clamp( 1.875rem , 1.1679292929rem  +  3.5353535354vw , 4.0625rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.1679292929rem  +  3.5353535354vw , 4.0625rem )) {
    .footer {
      padding-bottom: calc(1.875rem + 2.1875 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.1679292929rem  +  3.5353535354vw , 4.0625rem )) {
    .footer__bottom {
      padding-top: clamp( 1.875rem , 1.1679292929rem  +  3.5353535354vw , 4.0625rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.1679292929rem  +  3.5353535354vw , 4.0625rem )) {
    .footer__bottom {
      padding-top: calc(1.875rem + 2.1875 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 2.25rem , 1.5227272727rem  +  3.6363636364vw , 4.5rem )) {
    .main__title {
      font-size: clamp( 2.25rem , 1.5227272727rem  +  3.6363636364vw , 4.5rem );
    }
}

@supports not (font-size: clamp( 2.25rem , 1.5227272727rem  +  3.6363636364vw , 4.5rem )) {
    .main__title {
      font-size: calc(2.25rem + 2.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 2.5rem , 1.6919191919rem  +  4.0404040404vw , 5rem )) {
    .speed {
      padding-top: clamp( 2.5rem , 1.6919191919rem  +  4.0404040404vw , 5rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.6919191919rem  +  4.0404040404vw , 5rem )) {
    .speed {
      padding-top: calc(2.5rem + 2.5 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.6919191919rem  +  4.0404040404vw , 5rem )) {
    .speed {
      padding-bottom: clamp( 2.5rem , 1.6919191919rem  +  4.0404040404vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.6919191919rem  +  4.0404040404vw , 5rem )) {
    .speed {
      padding-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0037878788rem  +  0.6060606061vw , 1.5rem )) {
    .item-speed__title {
      font-size: clamp( 1.125rem , 1.0037878788rem  +  0.6060606061vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0037878788rem  +  0.6060606061vw , 1.5rem )) {
    .item-speed__title {
      font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 3.75rem , 2.9419191919rem  +  4.0404040404vw , 6.25rem )) {
    .druk {
      padding-top: clamp( 3.75rem , 2.9419191919rem  +  4.0404040404vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 3.75rem , 2.9419191919rem  +  4.0404040404vw , 6.25rem )) {
    .druk {
      padding-top: calc(3.75rem + 2.5 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 3.75rem , 2.9419191919rem  +  4.0404040404vw , 6.25rem )) {
    .druk {
      padding-bottom: clamp( 3.75rem , 2.9419191919rem  +  4.0404040404vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 3.75rem , 2.9419191919rem  +  4.0404040404vw , 6.25rem )) {
    .druk {
      padding-bottom: calc(3.75rem + 2.5 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.845959596rem  +  2.0202020202vw , 2.5rem )) {
    .slide-druk__image:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.845959596rem  +  2.0202020202vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.845959596rem  +  2.0202020202vw , 2.5rem )) {
    .slide-druk__image:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.125rem , 0.6805555556rem  +  2.2222222222vw , 2.5rem )) {
    .slide-druk__text {
      font-size: clamp( 1.125rem , 0.6805555556rem  +  2.2222222222vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.6805555556rem  +  2.2222222222vw , 2.5rem )) {
    .slide-druk__text {
      font-size: calc(1.125rem + 1.375 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.8257575758rem  +  2.1212121212vw , 2.5625rem )) {
    .slide-druk__text:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.8257575758rem  +  2.1212121212vw , 2.5625rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.8257575758rem  +  2.1212121212vw , 2.5625rem )) {
    .slide-druk__text:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.3125 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 3.75rem , 2.9419191919rem  +  4.0404040404vw , 6.25rem )) {
    .landing {
      padding-top: clamp( 3.75rem , 2.9419191919rem  +  4.0404040404vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 3.75rem , 2.9419191919rem  +  4.0404040404vw , 6.25rem )) {
    .landing {
      padding-top: calc(3.75rem + 2.5 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 3.75rem , 2.9419191919rem  +  4.0404040404vw , 6.25rem )) {
    .landing {
      padding-bottom: clamp( 3.75rem , 2.9419191919rem  +  4.0404040404vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 3.75rem , 2.9419191919rem  +  4.0404040404vw , 6.25rem )) {
    .landing {
      padding-bottom: calc(3.75rem + 2.5 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.5rem , 1.1767676768rem  +  1.6161616162vw , 2.5rem )) {
    .landing__title {
      font-size: clamp( 1.5rem , 1.1767676768rem  +  1.6161616162vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.1767676768rem  +  1.6161616162vw , 2.5rem )) {
    .landing__title {
      font-size: calc(1.5rem + 1 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1rem , 0.9191919192rem  +  0.404040404vw , 1.25rem )) {
    .item-landing__title {
      font-size: clamp( 1rem , 0.9191919192rem  +  0.404040404vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9191919192rem  +  0.404040404vw , 1.25rem )) {
    .item-landing__title {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 61.875);
    }
}
}

@media (max-width: 61.99875em) and (min-width: 81.875em) {
  .menu__link {
    font-size: 2rem;
  }
}

@media (max-width: 61.99875em) and (min-width: 20em) and (max-width: 81.875em) {
@supports (font-size: clamp( 1.5rem , 1.3383838384rem  +  0.8080808081vw , 2rem )) {
    .menu__link {
      font-size: clamp( 1.5rem , 1.3383838384rem  +  0.8080808081vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.3383838384rem  +  0.8080808081vw , 2rem )) {
    .menu__link {
      font-size: calc(1.5rem + 0.5 * (100vw - 20rem) / 61.875);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 81.875em) {
  .main {
    padding-top: 8rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 81.875em) {
@supports (padding-top: clamp( 6.25rem , 5.6843434343rem  +  2.8282828283vw , 8rem )) {
    .main {
      padding-top: clamp( 6.25rem , 5.6843434343rem  +  2.8282828283vw , 8rem );
    }
}

@supports not (padding-top: clamp( 6.25rem , 5.6843434343rem  +  2.8282828283vw , 8rem )) {
    .main {
      padding-top: calc(6.25rem + 1.75 * (100vw - 20rem) / 61.875);
    }
}
}

@media (any-hover: hover) {
  .header__mail:hover {
    -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
            box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
  }

  .header__button-link:hover {
    background-color: #e44c1a;
  }

  .menu__link:hover::before {
    content: "";
    width: 100%;
  }

  .footer__link-button:hover {
    background-color: #cecece;
  }

  .footer__link:hover {
    text-decoration: underline;
  }

  .footer__social-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .main__link:hover {
    background-color: #222;
  }

  .main__link_light:hover {
    background-color: #c3c3c3;
  }

  .item-landing__title:hover {
    text-decoration: underline;
  }
}